{% for item in vpn_client_names.results %}

conn ikev2
    left={{ ansible_default_ipv4.address }}
    leftcert=/etc/ipsec.d/certs
    leftid={{ ansible_default_ipv4.address }}
    leftsendcert=always
    leftsubnet=0.0.0.0/0
    leftrsasigkey=%cert
    rightaddresspool=192.168.42.1-192.168.42.254
    # optional rightid with restrictions
    rightca=%same
    rightrsasigkey=%cert
    # connection configuration
    # DNS servers for clients to use
    {% for index, item in enumerate(upstream_dns_servers) %}
    modecfgdns{{ index+1 }} = {{ item }}
    {% endfor %}
    narrowing=yes
    dpddelay=30
    dpdtimeout=120
    mobike=yes
    dpdaction=clear
    auto=add
    ikev2=insist
    rekey=no
    sha2-truncbug=no
    fragmentation=yes
    encapsulation=yes
    # propose AES_GCM using SHA2 as the prf
    # and diffie-hellman group 19
    ike=aes_gcm256-sha2;dh19
    phase2alg=aes_gcm_c-256-null;dh19
    phase2=esp
