{% for item in vpn_client_names.results %}

conn ikev2
    left={{ ansible_default_ipv4.address }}
    leftcert=/etc/ipsec.d/certs
    leftid={{ ansible_default_ipv4.address }}
    leftsendcert=always
    leftsubnet=0.0.0.0/0
    leftrsasigkey=%cert
    right=%any
    rightaddresspool=192.168.42.10-192.168.42.250
    rightca=%same
    rightrsasigkey=%cert
    # connection configuration
    # DNS servers for clients to use
    {% for index, item in enumerate(upstream_dns_servers) %}
    modecfgdns{{ index+1 }} = {{ item }}
    {% endfor %}
    narrowing=yes
    dpddelay=30
    dpdtimeout=120
    mobike=yes
    dpdaction=clear
    auto=add
    ikev2=insist
    rekey=no
    sha2-truncbug=no
    fragmentation=yes
    encapsulation=yes
    ike=aes-sha256;dh24,aes_gcm_8_128-null;dh24,aes-sha256;dh20,aes_gcm_8_128-null;dh20
    phase2alg=aes-sha256;dh24,aes_gcm_8_128-null;dh24,aes-sha256;dh20,aes_gcm_8_128-null;dh20
    phase2=esp
