[Unit]
Description=Set iptables rules required for IPsec-IKEv2 gateway
After=network.target
Before=ipsec.service

[Service]
Type=oneshot
RemainAfterExit=true
{% for rule in ipsec_firewall_rules %}
ExecStart=/sbin/{{ rule }}
{% endfor %}

[Install]
WantedBy=multi-user.target
