{% if streisand_l2tp_enabled %}
{{ ansible_default_ipv4.address }} %any:  PSK "{{ ipsec_preshared_key.stdout }}"
{% endif %}

{% if streisand_ikev2_enabled %}
{{ ansible_default_ipv4.address }} %any:  RSA
{% endif %}
